
    <!-- Main content -->
    <section class="content">
        <div class="container-fluid">
          <div class="row">
            <div class="col-12">
              <div class="card">
                <div class="card-header">
                  <h3 class="card-title">Liste des classes</h3>
                  <a href="#" class="btn btn-succes btn-sm" (click)="restNiveau()" data-toggle="modal" data-target="#modal-default"><i class="fa fa-plus-circle" aria-hidden="true"></i> Nouvelle classe</a>
                </div>
                <!-- /.card-header -->
                <div class="card-body">
                  <table id="example2" class="table table-bordered table-hover">
                    <thead>
                    <tr>
                        <th>#</th>
                        <th>Libelle</th>
                        <th>Action</th>
                    </tr>
                    </thead>
                    <tbody>
                        <tr *ngFor="let niveau of niveaux;let indexOfElement=index">
                            <td>{{indexOfElement}}</td>
                            <td>{{niveau.intitule}}</td>
                            <td>
                                <button (click)="deleteNiveau(niveau.id)" class="btn btn-danger btn-delete"><i class="fa fa-trash"></i></button>
                                <button (click)= "editNiveau(niveau)" data-toggle="modal" data-target="#modal-default" class="btn btn-warning btn-edit"><i class="fa fa-pencil" aria-hidden="true"></i>
                                </button>
                            </td>
                        </tr>
                    </tbody>
                  </table>
                </div>
                <!-- /.card-body -->
              </div>
              <!-- /.card -->
            </div>
            <!-- /.col -->
          </div>
          <!-- /.row -->
        </div>

        <!-- /.modal-dialog -->
        <div class="modal fade modal-dialog-centered" [ngStyle]="{'display': showModal ? '' : 'none'}" id="modal-default">
            <div class="modal-dialog">
                <div class="modal-content">
                    <div class="modal-header">
                        <h4 *ngIf="!editForm" class="modal-title">Enregistrer nouvelle classe</h4>
                        <h4 *ngIf="editForm"class="modal-title">Modifier une classe</h4>
                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                            <span aria-hidden="true">&times;</span>
                        </button>
                    </div>
                    <div class="modal-body">
                        <!-- form start -->
                        <form role="form" [formGroup]="niveauForm" (ngSubmit)="onSaveNiveau()">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-lg-12 col-md-12">                                      
                                        <div class="form-group">
                                            <label for="lastname">Intitule</label>
                                            <input type="text" class="form-control" [(ngModel)]="newNiveaux.intitule"  id="intitule" formControlName="intitule" placeholder="Intitule">
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <!-- /.card-body -->
                            <div class="modal-footer justify-content-between">
                                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
                                <button *ngIf="!editForm" type="submit" class="btn btn-primary" [disabled]="!niveauForm.valid ">Enregistrer</button>
                                <button *ngIf="editForm" type="submit" class="btn btn-warning" [disabled]="!niveauForm.valid">Modifier</button>
                            </div>
                        </form>
                    </div>
                </div>
            <!-- /.modal-content -->
            </div>
            <!-- /.modal-dialog -->
        </div>
      <!-- /.modal -->
        <!-- /.container-fluid -->
      </section>
      <!-- /.content -->